<div class="home-page">
  <div class="home-page-body">
    <button class='logout-btn btn red-btn' (click)="logOut()">
      LOGOUT
    </button>
    <div class="counter-block block">
      <div class="text">
        Counter: {{currentCount}}
      </div>
      <button (click)="increment()" class="btn orange-btn">
        Increment
      </button>
    </div>
  </div>
</div>
<app-confirm-popup [currentCount]="currentCount" [nextCount]="nextCount" (onConfirm)="confirm()"
  (onClose)="closePopup()" *ngIf="popupIsOpen"></app-confirm-popup>
